<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="bt1">
<div class="container" ng-controller="MainCtrl">
<p style = "color:red">{{text}}</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>MSSV</th>
        <th>Họ và tên</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Địa chỉ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in listStudents" id = {{student.id}}>
        <td class="id">{{student.id}}</td>
        <td class="name">{{student.name}}</td>
        <td class="birthday">{{student.birthday}}</td>
        <td class="gender">{{student.gender}}</td>
        <td class="address">{{student.address}}</td>   
        <td align="center"> <button style="background:blue; color:white" type="button" class="btn btn-default" ng-click="fill(student.id)" data-toggle="modal" data-target="#myModal">Edit</button>
        <button style="background:red; color:white" type="button" class="btn btn-default" ng-click="delete(student.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button style="background:green; color:white" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="fillInsert()">Insert</button>
  
       <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label >MSSV</label>
                  <input class="form-control" id="id" type="text">
                  </div>
               <div class="form-group">
                  <label >Họ và tên</label>
                  <input class="form-control" id="name" type="text">
                  </div>
                    <div class="form-group">
                  <label >Ngày sinh</label>
                  <input class="form-control" id="birthday" type="text">
                  </div>
                    <div class="form-group">
                 <label >Giới tính</label>
                  <input class="form-control" id="gender" type="text">
                  </div>
                   <div class="form-group">
                   <label >Địa chỉ</label>
                  <input class="form-control" id="address" type="text">
                  </div>
              </div>
              <div class="modal-footer">
               <button ng-show = "isUpdate()" style="background:blue; color:white" type="button" class="btn btn-default" data-dismiss="modal" ng-click="update(sid)">Save</button>
               <button ng-hide = "isUpdate()" style="background:blue; color:white" type="button" class="btn btn-default" data-dismiss="modal" ng-click="insert()">Insert</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
</div>
</body>
</html>